<div class="min-h-screen w-full relative px-[2vw] text-white bg-[#222831] bg-cover bg-no-repeat bg-center"
    style="background-image: url('bg_homepage.svg')">
    <!-- Navbar -->
    <nav class="py-[2vw] w-full flex items-center justify-between relative z-[1001]">
        <img src="logo.png" alt="Logo" class="h-[5vw] w-[7vw]" />

        <div class="flex items-center gap-[1vw]">
            <a href="https://65c63fd3592d47007e9a119a--flourishing-malasada-14442f.netlify.app/" target="_blank"
                class="relative px-5 py-2 border border-black/100 rounded-full font-medium text-white text-[18px] overflow-hidden transition-all duration-300 hover:text-green-700 group">
                <span class="relative z-10">Work</span>
            </a>
            <a href="https://www.instagram.com/learn_withcode/" target="_blank"
                class="relative px-5 py-2 border border-black/100 rounded-full font-medium text-white text-[18px] overflow-hidden transition-all duration-300 hover:text-green-700 group">
                <span class="relative z-10">Instagram</span>

            </a>
            <a href="https://www.linkedin.com/in/raj-kadam-3544412b0/" target="_blank"
                class="relative px-5 py-2 border border-black/100 rounded-full font-medium text-white text-[18px] overflow-hidden transition-all duration-300 hover:text-green-700 group">
                <span class="relative z-10">LinkedIn</span>

            </a>
            <a href="https://github.com/rajkadam16/works/tree/main/animation_page" target="_blank"
                class="relative px-5 py-2 border border-black/100 rounded-full font-medium text-white text-[18px] overflow-hidden transition-all duration-300 hover:text-green-700 group">
                <span class="relative z-10">GitHub</span>

            </a>
        </div>

        <h3 class="hidden">Menu</h3>
    </nav>

    <!-- Center Content -->

    <div class="h-[65vh] w-full pb-[2.5vw] flex items-end justify-between">

        <!-- Left: Text -->
        <div class="w-[40vw] flex flex-col items-start text-left">
            <h1 class="text-[10vw] leading-[8vw] font-bold">
                TRACK <br />YOUR <br />MONEY
            </h1>
            <h3 class="mt-4 text-[1vw] leading-[2vw] w-[90%]">
                Monitor your daily expenses with ease and precision. Stay aware of where your money goes, every day.
                Every rupee counts — start tracking it today.
                Watch how small changes make big impacts.
            </h3>
        </div>

        <!-- Right: Image -->
        <div class="h-[60vh] w-[60vw] flex items-end justify-end relative">
            <img src="hero_screenshot_f1.png" alt="Hero Image" class="max-h-full max-w-full object-contain z-10">
        </div>

    </div>


    <!-- Hero Shapes -->
    <div class="absolute right-0 top-[30vh] w-[46vw] h-[36vw]">
        <div class="absolute w-full h-full bg-[#fe330a] rounded-l-full blur-[20px]"></div>
        <div
            class="absolute w-[30vw] h-[30vw] bg-gradient-to-b from-[#fd3e17] to-[#fe631c] rounded-full blur-[20px] animate-[anime2_5s_linear_infinite_alternate]">
        </div>
        <div
            class="absolute w-[30vw] h-[30vw] bg-gradient-to-b from-[#fd3e17] to-[#fe631c] rounded-full blur-[25px] animate-[anime_5s_linear_infinite_alternate]">
        </div>
    </div>

</div>

<div id="page-2">
    <div id="moving-text">
        <div class="con">
            <h1>EXPANSE</h1>
            <div id="gola"></div>
            <h1>INCOME</h1>
            <div id="gola"></div>
            <h1>MONEY</h1>
            <div id="gola"></div>
        </div>
        <div class="con">
            <h1>EXPANSE</h1>
            <div id="gola"></div>
            <h1>INCOME</h1>
            <div id="gola"></div>
            <h1>MONEY</h1>
            <div id="gola"></div>
        </div>
        <div class="con">
            <h1>EXPANSE</h1>
            <div id="gola"></div>
            <h1>INCOME</h1>
            <div id="gola"></div>
            <h1>MONEY</h1>
            <div id="gola"></div>
        </div>
    </div>
</div>

<div id="page-3">
    <div class="flex flex-col items-center justify-center h-full">
        <h1 class="text-[3vw] font-bold mb-4">How SpendWise's works</h1>
        <p class="text-[1.5vw] text-center max-w-[60%]">
            Experience the full power of Expensify with our 30-day free trial. No credit card required. After the trial,
            choose a plan that fits your needs.
        </p>

        <div class="mt-12 flex flex-wrap justify-center gap-8 px-6 text-white">
            <!-- Card 1 -->
            <div
                class="w-[90%] sm:w-[45%] lg:w-[28%] h-[20vw] bg-[#061B09] rounded-3xl flex flex-col items-center justify-center text-center p-6 shadow-md hover:shadow-xl hover:scale-[1.02] transition-all duration-300">
                <img src="icons\simple-illustration__smartscan.svg" alt="" class="h-[10vh] w-[10vh]">
                <h2 class="text-[2vw] font-semibold mb-2">Track Expenses</h2>
                <p class="text-[1vw] opacity-80">Easily log your expenses in seconds and keep your financial records up
                    to date.</p>
            </div>

            <!-- Card 2 -->
            <div
                class="w-[90%] sm:w-[45%] lg:w-[28%] h-[20vw] bg-[#061B09] rounded-3xl flex flex-col items-center justify-center text-center p-6 shadow-md hover:shadow-xl hover:scale-[1.02] transition-all duration-300">
                <img src="icons\simple-illustration__reports.svg" alt="" class="h-[10vh] w-[10vh]">
                <h2 class="text-[2vw] font-semibold mb-2">Create Report</h2>
                <p class="text-[1vw] opacity-80">Automatically generate expense reports for reimbursement or
                    reconciliation. Add categories, tags, and comments, then submit.</p>
            </div>

            <!-- Card 3 -->
            <div
                class="w-[90%] sm:w-[45%] lg:w-[28%] h-[20vw] bg-[#061B09] rounded-3xl flex flex-col items-center justify-center text-center p-6 shadow-md hover:shadow-xl hover:scale-[1.02] transition-all duration-300">
                <img src="icons\simple-illustration__sendmoney.svg" alt="" class="h-[10vh] w-[10vh]">
                <h2 class="text-[2vw] font-semibold mb-2">Get Reimbursed</h2>
                <p class="text-[1vw] opacity-80">Once approved, get reimbursed directly to your bank account in as
                    little as one business day.</p>
            </div>
        </div>

    </div>

</div>

<div id="page-4">
    <div class="flex flex-col items-center justify-center h-full">
        <h1 class="text-[3vw] font-bold mb-4">Frequently Asked Questions</h1>
        <p class="text-[1.5vw] text-center ">
            Have questions? We have answers! Here are some of the most common queries about SpendWise.
        </p>
    </div>
    <app-faqs></app-faqs>
</div>

<div id="page-5">
    <app-footer></app-footer>
</div>